extend layout

block content
  .row-fluid
    .span12
      .span6
        h2 Israel Gutiérrez
        img(src='http://www.it.uc3m.es/igrojas/portrait.jpg').span3
        p.
          Israel Gutiérrez is research assistant, associate teacher and PhD student in the
          Telematics Department of the University Carlos III of Madrid. He is Bsc. in
          Telecommunications and Msc. in Telematics Engineering. After working several
          years in the private sector in projects related to the innovation in the web and
          mobile devices, in 2009 he was part of the European ICOPER project (eContent
          Plus program) which objective was to develop best practices in the usage of
          competence-oriented standards in e-learning. Now, he is developing his PhD in
          the field of Technology Enhanced Learning, helping teachers and students to be
          aware of what's happening in their classes with <a
          href='http://class-on.org'>classON</a>. He teaches tech related
          topics, like computer fundamentals, mobile applications or multimedia. He’s also
          in the process of founding a venture that is part of the current educational
          revolution. 
      .span6
        h2 Derick Leony
        img(src='http://www.it.uc3m.es/dleony/portrait.jpg').span3
        p.
          Derick Leony received his B.Sc. (2006) in Computer Science and his M.Sc. (2007)
          in Telecommunications from Galileo University, Guatemala, and he obtained his
          M.Sc. (2010) in Telematic Engineering from University Carlos III of Madrid.
          Currently, he is a PhD student and a teaching assistant in the Department of
          Telematic Engineering at University Carlos III of Madrid. His research interests
          lie in the analysis of activity patterns in learning environments and their
          relationship with students' affective states.

