doctype 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Get Personalized MOOC recommendations. Push your careeer!')
    meta(name='keywords', content='mooc, rank, recommendation, learning outcomes, learning objectives')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css', media='screen')
    link(rel='stylesheet', href='/css/moocrank.css')
  body
  .container
    block header
      //.masthead
        h3.muted moocrank
      .navbar
        .navbar-inner
          a.brand(href='/') moocrank
          ul.nav.pull-right
            if user
              li: a(href='/') My Recommendations
              li: a(href='/wishlist') My Learning Objectives
            li.dropdown
              if !user 
                a(href='/login') Register / Login
              else
                a(href='#', data-toggle='dropdown', class='dropdown-toggle') Account 
                  strong.caret
                ul.dropdown-menu
                  // li: a(href='/companies') Companies
                  li: a(href='/logout') Logout
    .alert.alert-info
      button.close(type='button', data-dismiss='alert') &times;
      strong Hey there, user! 
      | If you enjoyed using our service, please 
      a(href='http://linkedup.ideascale.com/a/dtd/moocrank-recommendation-of-MOOCs-based-on-learning-outcomes/7201-24976', target='_blank') vote for moocrank in the LinkedUp competition
    block content
    block footer
      footer.footer
        a(href='/about') About us 
        span.pull-right Contact at 
          a(href='mailto:info@moocrank.com') info@moocrank.com
  block script
    script(src='http://code.jquery.com/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/moocrank.js')
