extends layout

block content
  h1.jumbotron What are my learning objectives?
  .accordion
    each cat in cats
      .accordion-group
        .accordion-heading
          a(href='#cat_' + cat.id, data-toggle='collapse', data-parent='wishlist').accordion-toggle
            h4= cat.catName
        div(id='cat_' + cat.id).accordion-body.collapse
          .accordion-inner
            div(id='acc_cat_' + cat.id).span10.accordion
              each subcat in cat.subcats
                .accordion-group
                  .accordion-heading
                    a(href='#subcat_' + cat.id + '_' + subcat.id, data-toggle='collapse', data-parent='acc_cat_' + cat.id).accordion-toggle
                      h5= subcat.subcatName
                div(id='subcat_' + cat.id + '_' + subcat.id).accordion-body.collapse
                  .accordion-inner
                  each outcome in subcat.outcomes
                    label.checkbox
                      div
                        wChecked = wishlist && wishlist.indexOf(outcome.id) != -1;
                        input(type='checkbox', checked=wChecked, onchange='changeOutcome("/" + (this.checked ? "" : "un") + "wishOutcome/'+outcome.id+'")')
                        =outcome.name
  .container
    span.pull-right
      a.btn.btn-large.btn-primary(href='/') See my recommendations

