extends layout

block content
  #outcomes.span12.accordion
    each cat in cats
      .accordion-group
        .accordion-heading
          a(href='#cat_' + cat.id, data-toggle='collapse', data-parent='outcomes').accordion-toggle
            h4= cat.catName
        div(id='cat_' + cat.id).accordion-body.collapse
          .accordion-inner
            div(id='acc_cat_' + cat.id).span10.accordion
              each subcat in cat.subcats
                .accordion-group
                  .accordion-heading
                    a(href='#subcat_' + subcat.id, data-toggle='collapse', data-parent='acc_cat_' + cat.id).accordion-toggle
                      h5= subcat.subcatName
                div(id='subcat_' + subcat.id).accordion-body.collapse
                  .accordion-inner
                  each outcome in subcat.outcomes
                    label.checkbox
                      div
                        - if(outcomes && outcomes.indexOf(outcome.id)!=-1)
                          input(type='checkbox', checked, onchange='changeOutcome("/unwishOutcome/'+outcome.id+'")')
                        - else
                          input(type='checkbox', onchange='changeOutcome("/wishOutcome/'+outcome.id+'")')
                        =outcome.name

block append script
  script(src='/js/moocrank.js')

