body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
a {
  color: #00b7ff;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}
#courses {
  text-align: left;
}
#courses .course .name {
  margin: 10px;
}
#courses .course ul {
  list-style-type: none;
}
#courses .course ul li {
  display: inline;
  margin-right: 10px;
}
